APP_NAME=
APP_ENV=local
APP_PATH=apps/api-gateway

APP_JWT_IGNORE_EXPIRATION=true
APP_JWT_EXPIRES_IN=999999999999
APP_JWT_TOKEN=abcd1234
APP_JWT_VERSION=1

APP_API_GATEWAY_SALT_ROUNDS=10

APP_PORT=3000

APP_DATABASE_HOST=localhost
APP_DATABASE_PORT=5432
APP_DATABASE_USERNAME=postgres
APP_DATABASE_PASSWORD=postgres
APP_DATABASE_DATABASE=pix
APP_DATABASE_SCHEMA=public
APP_DATABASE_LOG=false
APP_DATABASE_DEBUG=
APP_DATABASE_MIGRATION_TABLE=sequelize_meta_api_gateway
APP_DATABASE_SEEDERS_TABLE=sequelize_seeders_api_gateway
APP_DATABASE_SSL=

APP_LOG_LEVEL=debug
APP_LOG_SPACE=2

APP_NATS_QUEUE_GROUP=API_GATEWAY
APP_NATS_SERVERS=localhost:4222
APP_NATS_DELIVER_GROUP=API_GATEWAY
APP_NATS_DELIVER_TO=API_GATEWAY
