# compiled output
/dist
**/node_modules
0

# Keys
/cert

# Nats data
/data

# allure-reports
**/allure-reports
**/allure-results

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode
.vscode/launch.json
.vscode/settings.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Env files
*.env

# Ignore Gradle build output directory
build

.npmrc

# Ignore key files
**/*.pem
**/*.crt
**/*.key

# Ignore nuxt files
/front/**/.nuxt/

# Scripts persitence files
fill-onboarding-history-checkpoint.json

# Sonar files
.scannerwork
sonar-scanner
/.bashrc

# Eslint 
.eslintcache

# pasta das implementações antigas
/backup