APP_NAME=
APP_ENV=
APP_PATH='apps/users'

APP_DATABASE_HOST=localhost
APP_DATABASE_PORT=5432
APP_DATABASE_USERNAME=postgres
APP_DATABASE_PASSWORD=postgres
APP_DATABASE_DATABASE=desen-web-db
APP_DATABASE_SCHEMA=public
APP_DATABASE_LOG=false
APP_DATABASE_DEBUG=
APP_DATABASE_MIGRATION_TABLE=sequelize_meta_users
APP_DATABASE_SEEDERS_TABLE=sequelize_seeders_users
APP_DATABASE_SSL=
APP_LOG_LEVEL=debug
APP_LOG_SPACE=2

APP_PORT=3025

APP_NATS_QUEUE_GROUP=USERS
APP_NATS_SERVERS=localhost:4222
APP_NATS_DELIVER_GROUP=USERS
APP_NATS_DELIVER_TO=USERS

